/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: url('./img/backgrounds/Concrete\ Background.png');
  width: 100%!important;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

dl, ol, ul{
  margin-bottom: 0px;
}

@font-face {
  font-family: 'simplo_font';
  src: url('./fonts/simplo-black.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'simplo_medium_font';
  src: url('./fonts/Simplo-Medium.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'simplo_bold';
  src: url('./fonts/Simplo-Bold.otf'); /* IE9 Compat Modes */
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 20px;
  opacity: 0.9;
  text-transform:uppercase;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.navbar ul:first-child{
  padding-top: 30px;
}

.navbar li{
  margin-right: 10px;
}

.navbar a {
  color: #fff;
  padding: 0.7rem;
  margin: 0 0.25rem;
  text-shadow: 3px 3px 3px rgb(0 0 0 / 99%);
}
.navbar a:hover{
  color: #99252B;
  text-shadow: none;
  font-weight: bold;
}
.navbar .welcome span {
  margin-right: 0.6rem;
}

.navbar .simplo_font{
  font-family: 'simplo_font';
  font-weight: bolder;
  font-size: 25px;
}

.navbar .simplo_font i{
  margin-right: 20px;
}

.navbar .nav-link{
  font-size: 25px;
  font-family: 'simplo_medium_font';
}

/* red grid */
.red_grid{
  background: url('./img/backgrounds/Top_Red_Gradient_Strip.png');
  height: 20px;
  width:100%
}
.red_grid_bottom{
  position: absolute;
  background: url('./img/backgrounds/Top_Red_Gradient_Strip.png');
  height: 22px;
  width:100%;
  bottom:0px;
  z-index: 0;
}

/* left side_bar */
.left_sidebar{
  position: fixed;
  top:25%;
  left: 59px;
  height: 584px;
  z-index: 9999;
}
.left_sidebar .icon_group{
  position: absolute;
  top: 37%; 
  margin-left: -15px;
}
.icon_group img{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 35px!important;
  height: 35px!important;
}

/* right sidebar */
.right_sidebar{
  position: fixed;
  top:25%;
  right: 59px;
  height: 584px;
}
/* .left_sidebar .icon_group{
  position: absolute;
  top: 37%;
  margin-left: -15px;
}
.icon_group img{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 35px!important;
  height: 35px!important;
} */



/* total search area */
.total_search{
  background-color: rgba(255, 255, 255, 0.7);
  padding:2px;
  font-family: 'simplo_bold'
}
.total_search a{
  width: 25%;
  font-size: 26px;
  color: #99252B;
}
.total_search a.active, .total_search a:hover{
  background-color: #99252B!important;
  color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: white!important
}
.total_search .input-group{
  padding: 0px;
}
.total_search .input-group input{
  height: 45px;
}
.total_search .input-group input:focus, .form-control:focus, .total_search .search_button:focus{
  border-color: white!important;
  box-shadow: none!important
}
.total_search .search_button{
  background-color: #99252B;
  color: white;
  margin-right: 0px!important;
  z-index: 0;
}


/* home_buttons */
.home_buttons{
  margin-top: -155px;
  z-index: 1;
}
.home_buttons button{
  position: relative;
  background: url('./img/backgrounds/Focus Box White.png') no-repeat;
  width: 426px;
  height: 144px;
  z-index: 2;
  border: none;
  color: #99252B;
  padding-top: 7px;
  padding-left: 35px;
}
.home_buttons button span{
  font-size: 32px;
  font-family:'simplo_bold';
}
.home_buttons button h1{
  font-size: 38px;
  font-family:'simplo_medium_font';
  font-weight: bold;
  text-transform:uppercase
}

.home_buttons .home_icon{
  background: url('./img/buttons/home_button.png') no-repeat;
  width: 110px;
  height: 103px;
}
.home_buttons .meet_icon{
  background: url('./img/buttons/meet_button.png') no-repeat;
  width: 110px;
  height: 103px;
}
.home_buttons .coop_icon{
  background: url('./img/buttons/coopearte_button.png') no-repeat;
  width: 110px;
  height: 103px;
}
.home_buttons .worth_icon{
  background: url('./img/buttons/worth_button.png') no-repeat;
  width: 110px;
  height: 103px;
}
.home_buttons .home_button{
  display: flex;
  align-items: center;
}

/* featured properties */
.featured{
  margin-top:70px;
  margin-bottom: 70px;
}
.featured .react-multi-carousel-list li{
  /* height: 612px; */
  height: 952px;
  color: white;
  border: 2px solid white;
}
.featured button{
  border-radius: 2px!important;
  width: 125px!important;
  height: 198px;
  color: white;
  border: 2px solid white;
  z-index: 99;
  -webkit-border-radius: 2px!important;
  -moz-border-radius: 2px!important;
  -ms-border-radius: 2px!important;
  -o-border-radius: 2px!important;
}
.featured .react-multiple-carousel__arrow--right::before, .react-multiple-carousel__arrow--left::before{
  font-size: 90px!important;
}
.featured{
  color: #99252B
}
.featured .build_info .even{
  background-color: white;
  height: 70px;
  width: 100%;
}
.featured .build_info .odd{
  background-color: #D9D9D9;
  height: 70px;
  width: 100%;
  color:#99252B;
  font-family: 'simplo_bold';
  display: flex;
  justify-content: center;
  align-items: center
}
.featured .capacity{
  display: flex;
  justify-content: center;
  align-items: center
}
.featured .capacity i{
  font-size: 18px;
  z-index: 2;
  width: 25%;
  color: #99252B;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.featured .capacity i span{
  font-size: 14px;  
  margin-top:10px
}
.featured .price{
  font-size: 24px;
}
.featured .overview{
  color: #99252B;
  text-align: center;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.btn_login{
  background-color: transparent;
  color:white;
  font-size: 19px;
  border: 2px solid white;
  padding:0px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 3px 3px 3px rgb(0 0 0 / 99%);
  box-shadow: 4px 4px 4px rgb(0 0 0 / 90%), inset 3px 3px 3px rgb(0 0 0 / 90%);
}

.second_row i{
  margin-left: 10px;
}

/* Landing Page */
.landing {
  position: relative;
  margin-top:20px;
  background: url('./img/backgrounds/s169A7656.png') no-repeat ;
  height: 93vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar .welcome {
    display: none;
  }


  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
